<div class="center-block" style="width: 40%;">

  <div class="row">

    <div class="col-md-12">

      <div class="alert alert-warning" *ngIf="this.illegalCredentials">
        <span>The credentials you typed are not valid, try again please.</span>
      </div>

      <form (ngSubmit)="!loginForm.invalid && this.submitLoginForm()" #loginForm="ngForm">

        <div class="form-group">
          <input class="form-control"
                 type="email"
                 name="email"
                 [placeholder]="emailField.invalid ? 'Please type your email':''"
                 [(ngModel)]="this.email"
                 required="required"
                 #emailField="ngModel">
        </div>

        <div class="form-group">
          <input class="form-control"
                 type="password"
                 name="password"
                 [placeholder]="passwordField.invalid ? 'Please type your password':''"
                 [(ngModel)]="this.password"
                 required="required"
                 #passwordField="ngModel">
        </div>

        <button type="submit"
                class="btn btn-success btn-block"
                [disabled]="loginForm.invalid">Log In</button>

      </form>

    </div>

  </div>

</div>
