

<div class="container">

  <div class="alert alert-warning" *ngIf="this.backendError != null">
    <span>There was some error at the backend services, sorry for the inconvenience.</span>
  </div>

  <p>Welcome {{this.userName}}!</p>

  <button type="button" class=".btn .btn-success" (click)="this.getCustomWelcomeMessage()">Click here for a customized welcome message</button>

  <p>{{this.welcomeMessage}}</p>

</div>
