
<div class="alert alert-warning" *ngIf="this.backendError != null">
  <span>There was some error at the backend services, sorry for the inconvenience.</span>
</div>

<div class="table-responsive">
  <table class="table">
    <thead class="text-center">
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Done</th>
      <th>Target Date</th>
      <th>Creation Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of this.todoList">
        <td>{{todo.id}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.done}}</td>
        <td>{{todo.targetDate | date | lowercase }}</td>
        <td>{{todo.creationDate | date | lowercase }}</td>
        <td>
          <button type="button" (click)="this.updateToDo( todo.id )" class="btn btn-success">Update</button>
          <button type="button" (click)="this.deleteToDo( todo.id )" class="btn btn-warning">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-success" (click)="this.createToDo()">Create New</button>

</div>
