<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" href="#" routerLink="/">TodoManagement</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active" role="presentation"><a href="#" routerLink="/login" *ngIf="!this.isUserLoggedIn()">Login</a></li>
        <li class="active" role="presentation"><a href="#" routerLink="/todo-list" *ngIf="this.isUserLoggedIn()">TodoList</a></li>
        <li class="active" role="presentation"><a href="#" routerLink="/logout" *ngIf="this.isUserLoggedIn()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
