
<form (ngSubmit)="!todoForm.invalid && this.submitTodoForm()" #todoForm="ngForm">

  <div class="alert alert-warning" *ngIf="this.requestSent && this.backendError != null">
    <span>Damn it! The last request did not complete successfully at the backend.</span>
  </div>

  <div class="alert alert-success" *ngIf="this.requestSent && this.backendError == null">
    <span>Great! The last request completed successfully at the backend.</span>
  </div>

  <fieldset class="form-group">

    <label>Description</label>

    <input class="form-control"
           type="text"
           name="description"
           [placeholder]="descriptionField.invalid ? 'Type a description':''"
           [(ngModel)]="this.todo.description"
           required="required"
           minlength="5"
           #descriptionField="ngModel">

  </fieldset>

  <fieldset class="form-group">

    <label>Target Date</label>

    <input class="form-control"
           type="date"
           name="targetDate"
           [ngModel]="this.todo.targetDate | date:'yyyy-MM-dd'"
           (ngModelChange)="this.todo.targetDate = $event"
           required="required"
           #targetDateField="ngModel">

  </fieldset>

  <button type="submit"
          class="btn btn-success"
          [disabled]="todoForm.invalid">Create</button>

  <button type="button" class="btn btn-success" (click)="this.goToList()">Go to List</button>

</form>
